*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{
    margin: 0px;
}
.page{
    display: flex;
    flex-direction: column;
}
.navbar{
    height: 80px;
    background-color: #E2AFDE;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

ul li{
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 17px;
}

ul li:hover{
    background-color: #885070;
}

.container_first{
    height: 100vh;
    background-color: #153243;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}


.text{
    height: 30vh;
    width: 50vh;
    background-color: #F991CC;
    border-radius: 15px;
    display: flex;

    color: #1B264F;
}
.text h1{
    margin: auto
}
.container_first .text:hover{
    background-color: #885070;
    color: white;

    transition:all 0.3s ease;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.search-input{
    border: 1px solid #1B264F;
    border-radius: 4px;
    padding: 12px 20px;
}

.second_page{
    width: 100vw;
    height: 100vh;
    background-color: #CB904D;

    display: flex;
    flex-direction: column;


}

.container_second{

    display: flex;
    color: white;

    justify-content: space-around;
    margin: 10px;

}

.first{
    padding: 20px;
    flex: 1;
    background-color: #75485E;


}
.second{
    flex: 1;
    background-color: #1C3144;
    padding: 20px;

}
.third{
    flex: 1;
    background-color: #2C1320;
    padding: 20px;

}

.container_third{

    background-color: grey;
    width: 100%;
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.article{
    width: 200px;
    height: 200px;
    background-color: #1B264F;
    margin: 5px;
}